
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

	/* .header-inr {
		padding: 17px 15px 13px;
	} */

	.navbar-nav .nav-link {
		padding: 12px 34px 14px;
	}

	.search-div {
		max-width: 280px;
	}

	.white-div {
		padding: 0px 30px 50px;
	}

	.white-div ul li {
		max-width: 25%;
	}

	/* .broker-div {
		max-width: 25%;
	} */

	.gray-div {
		padding: 44px 30px 88px;
	}

	.home-news-section {
		max-width: 40%;
	}

	.home-agenda-div {
		max-width: 30%;
	}

	.tweets-div {
		max-width: 27%;
	}

	.home-news-text {
		max-width: 60%;
	}

	.bar-home .calender-text {
		max-width: 69%;
	}

	.info-div {
		max-width: 50%;
	}

	.ftr-newsletter {
		padding: 0px 15px;
		max-width: 30%;
	}

	.ftr-social-links {
		padding-left: 15px;
	}

	footer {
		padding: 40px 30px;
	}

	.address-div img {
		max-width: 35px;
		margin-right: 10px;
	}

	.address-div p {
		font-size: 16px;
	}

	.number-div p {
		font-size: 16px;
	}

	.address-div {
		max-width: 287px;
		margin-right: 15px;
	}

	/* .news-left-section {
		padding: 0px 30px 0px 30px;
		margin: 0;
		max-width: 65%;
	}

	.right-bar {
		max-width: 35%;
		padding-right: 30px;
	} */

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 

	.header-inr {
		padding: 17px 15px 13px;
	}

	.logo-div {
		padding: 14px 0px 0px;
	}

	.logo-div img {
	    max-width: 70px;
	    margin-right: 8px;
	}

	.search-div {
		margin: 25px 0px 0px;
		max-width: 326px;
	}

	.vind-div-main {
		padding: 0;
	}

	.vind-div ul li {
		width: 96px;
		vertical-align: middle;
		min-height: 115px;
	}

	.vind-div ul li a {
		text-align: center;
	}

	.navbar-nav .nav-link {
		padding: 12px 22px 14px;
		font-size: 18px;
	}

	.white-div {
		padding: 0px 30px 30px;
	}

	.white-div ul li {
		max-width: 25%;
	}

	.broker-div {
		max-width: 25%;
	}

	.gray-div {
		padding: 40px 30px;
	}

	.home-news-section {
		max-width: 40%;
	}

	.home-agenda-div {
		max-width: 30%;
	}

	.tweets-div {
		max-width: 27%;
	}

	.home-news-text {
		max-width: 60%;
	}

	.bar-home .calender-text {
		max-width: 69%;
	}

	.info-div {
		max-width: 51%;
	}

	.ftr-newsletter {
		padding: 0px 15px;
		max-width: 30%;
	}

	.ftr-social-links {
		padding-left: 15px;
	}

	footer {
		padding: 40px 30px;
	}

	.address-div img {
		max-width: 28px;
		margin-right: 8px;
	}

	.address-div p {
		font-size: 15px;
	}

	.number-div p {
		font-size: 15px;
	}

	.number-div a {
		font-size: 15px;
	}

	.address-div {
		max-width: 278px;
		margin-right: 5px;
	}

	.breadcrumb {
		padding: 0px 30px;
	}

	.news-left-section {
		padding: 0px 30px 0px 30px;
		margin: 0;
		max-width: 65%;
	}

	.right-bar {
		max-width: 35%;
		padding-right: 30px;
	}

	.gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label {
		font-size: 19px !important;
	}

	.calender-text {
		max-width: 82%;
	}

	.single-agenda-bar .date-div {
		margin-right: 15px;
	}

	.single-agenda-bar .calender-text {
		max-width: 67%;
	}

	.spreker-left h4 {
		max-width: 112px;
	}

	.contact-inr ul li p span.address-text {
		max-width: 90%;
	}

	.prod_inr ul li {
		margin-right: 64px;
	}

	.login-div {
		max-width: 510px;
	}

	.select-style {
		margin-bottom: 30px;
	}

	.news-left-inr ul li ul li {
		min-height: auto;
		padding-right: 0;
		max-width: none;
	}

	.news-left-inr ul li ul li:nth-child(2n) {
		max-width: none;
	}

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 

	.logo-div img {
		max-width: 51px;
		margin: 0px 7px 0px 0px;
	}

	.logo-div a span {
		font-size: 18px;
	}

	.logo-div a span p {
		line-height: 20px;
	}

	.navbar-btn {
	    box-shadow: none;
	    outline: none !important;
	    border: none;
	    background: none;
	    padding: 0;
	}

	.navigation {
		background: none;
		box-shadow: none;
	}

	.nav-btns {
		float: none;
		margin: 0 auto;
	}

	.vind-div-main {
		text-align: center;
	}

	.vind-div {
		float: left;
	}

	.search-div .form-control {
		font-size: 22px;
		height: 50px;
		padding: 15px 15px 15px 0px;
	}

	.search-icon {
		height: 50px;
		background-position: 21px 14px;
	}

	.vind-div-main {
		padding: 0px;
	}

	.navbar-header01 {
		display: block;
	}

	.search-div {
		margin-bottom: 15px;
	}

	.logo-div {
		padding: 33px 0px 0px;
	}

	.header-inr {
		padding: 15px 15px;
	}

	#sidebar {
		display: none;
		padding: 45px 0px 0px;
		min-width: 310px;
		max-width: 310px;
		transition: all 0.3s;
		z-index: 99;
		background: #00a6c0;
	    position: fixed;
	    height: 100%;
	    top: 0;
	    right: -310px;
	}

	.cross-btn {
		position: absolute;
		top: 0;
		right: 6px;
	}

	.dropdown-menu {
		position: relative;
		float: none;
		min-width: none;
		padding: 0;
		margin: 0;
		background-color: transparent;
		border: 0;
	}

	.main-inner {
		padding: 0 30px;
	}

	.gray-div {
		padding: 30px 30px;
	}

	.main-inner h1 {
		font-size: 30px;
	}

	.white-div ul li {
		max-width: none;
		width: 50%;
		margin-bottom: 30px;
		min-height: 454px;
	}

	.broker-div {
		max-width: none;
		width: 50%;
	}

	.home-news-section {
		max-width: none;
	}

	.home-news-img {
		max-width: 21%;
	}

	.home-news-text {
		max-width: 76%;
	}

	.home-agenda-div {
		max-width: 57%;
		margin-right: 15px;
	}

	.tweets-div {
		max-width: 40%;
	}

	.breadcrumb {
		padding: 0px 30px;
	}

	.news-left-section {
		padding: 0px 30px;
		max-width: none;
	}

	.right-bar {
		padding: 0px 30px;
		max-width: none;
	}

	.category-list {
		float: left;
		width: 49%;
	}

	.news-brief-div {
		float: right;
		width: 49%;
	}

	.gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label {
		font-size: 19px !important;
	}

	.next-btns {
		padding: 58px 0px 45px;
	}

	.calender-text {
		max-width: 85%;
	}

	.agenda-con {
		margin-bottom: 30px;
	}

	.agenda-sidbar {
		float: none;
		width: 100%;
	}

	.single-agenda-bar {
		float: none;
		width: auto;
		margin-top: 30px;
	}

	.contact-inr ul li p span.address-text {
		max-width: 92%;
	}

	.map-div {
		margin-bottom: 30px;
	}

	.contact-bar {
		float: none;
		width: auto;
	}

	.contact-bar label {
		display: block;
	}

	footer {
		padding: 40px 30px 40px;
		margin-top: 0;
	}

	.info-div {
		max-width: none;
		width: 60%;
	}

	.address-div {
		max-width: none;
		margin-right: 0;
	}

	.number-div {
		padding-left: 69px;
	}

	.ftr-newsletter {
		width: 40%;
		padding: 0px 15px;
	}

	.ftr-social-links {
		padding-left: 15px;
	}

	.white-div ul li img {
		height: 215px;
	}

	.prod_inr ul {
		text-align: center;
	}

	.prod_inr ul li {
		display: inline-block;
		float: none;
		margin-right: 8px;
	}

	.quality-rightbar .category-list {
		width: 100%;
	}

	.select-style {
		margin-right: 10px;
		max-width: 217px;
	}

	.project-top .checkbox-project li {
		margin-right: 10px;
	}

	input[type="radio"] + label span {
		margin-right: 7px;
	}

	.project-top input[type="radio"] + label {
		font-size: 15px;
	}

	.news-left-inr ul li ul li {
		min-height: auto;
		padding-right: 0;
		max-width: none;
	}

	.news-left-inr ul li ul li:nth-child(2n) {
		max-width: none;
	}

	.project-links {
		width: 100%;
		margin-top: 40px;
	}



}

/* Small devices (landscape phones, 544px and up) */
@media (max-width: 767px) { 

	.logo-div img {
		width: 100%;
		max-width: none;
	}

	.header-main {
		padding: 0px 15px;
	}

	.navbar-btn {
	    box-shadow: none;
	    outline: none !important;
	    border: none;
	    background: #ea4417;
	}

	.navigation {
		background: none;
		box-shadow: none;
	}

	.nav-btns {
		float: none;
		margin: 0 auto;
		max-width: 323px;
	}

	.vind-div-main {
		text-align: center;
	}

	.vind-div {
		float: none;
	}

	header {
		margin-bottom: 27px;
		border-bottom: 1px solid #e2dfdf;
		padding-bottom: 29px;
	}

	.main-inner h1 {
		font-size: 30px;
		margin-bottom: 25px;
		padding: 0px 10px;
	}

	.white-div ul li {
		border: 0;
		margin-bottom: 34px;
	}

	.white-div {
		padding: 0px 18px 30px;
	}

	.white-div ul li h3 {
		font-size: 20px;
	}

	.white-div ul li p {
		font-size: 16px;
		line-height: 20px;
	}

	.broker-div img {
		margin-bottom: 25px;
	}

	.broker-div h3 {
		line-height: normal;
	}

	.broker-div {
		padding: 50px 45px 28px;
	}

	.gray-div {
		padding: 23px 26px;
	}

	.home-news-inr h3 a {
		font-size: 20px;
	}

	.home-news-text p {
		font-size: 15px;
		line-height: 20px;
	}

	.home-news-text a {
		 font-size: 15px;
	}

	.home-news-text span {
		font-size: 15px;
	}

	.home-news-section ul li {
		margin-bottom: 30px;
	}

	.date-div {
		width: 59px;
		height: 59px;
		padding: 5px 0px 0px;
		margin-right: 15px;
	}

	.calender-text p {
		font-size: 18px;
		line-height: 27px;
	}

	.date-div p span {
		font-size: 15px;
	}

	.bar-home .calender-text p {
		font-size: 15px;
	}

	.date-div p {
		line-height: 16px;
	}

	.bar-home .calender-text {
		max-width: 67%;
	}

	footer {
		padding: 32px 26px;
		margin-top: 30px;
	}

	.address-div p {
		overflow: hidden;
	}

	.address-div p, .number-div a {
		font-size: 15px;
		line-height: 20px;
	}

	.number-div p {
		font-size: 15px;
		line-height: 20px;
	}

	.address-div img {
		max-width: 38px;
		margin-right: 10px;
	}

	.ftr-newsletter .search-div .form-control {
		font-size: 16px;
	}

	.white-div ul li, .broker-div {
		width: 50%;
		max-width: none;
	}

	.home-news-text {
		max-width: 66%;
	}

	.info-div {
		max-width: none;
		background-image: none;
	}

	.address-div {
		max-width: none;
		width: 60%;
		margin-right: 0px;
	}

	.ftr-newsletter {
		padding: 0;
		background-image: none;
		max-width: none;
	}

	/* .search-div {
		max-width: none;
	} */

	.ftr-social-links {
		text-align: center;
		width: 100%;
		padding: 40px 0px 0px;
	}

	.home-news-img {
		max-width: none;
		width: 31%;
	}

	.home-agenda-div {
		max-width: none;
	}

	.home-news-section {
		max-width: none;
		margin-right: 0;
	}

	#sidebar {
		display: none;
		padding: 45px 0px 0px;
		min-width: 310px;
		max-width: 310px;
		transition: all 0.3s;
		z-index: 99;
		background: #00a6c0;
	    position: fixed;
	    height: 100%;
	    top: 0;
	    right: -310px;
	}

	.cross-btn {
		position: absolute;
		top: 0;
		right: 6px;
	}

	.dropdown-menu {
		position: relative;
		float: none;
		min-width: none;
		padding: 0;
		margin: 0;
		background-color: transparent;
		border: 0;
	}

	.nav-sidebar li .dropdown-menu a {
		padding: 14px 25px 16px 50px;
	}

	.dropdown-item:focus, .dropdown-item:hover {
		background-color: transparent;
		color: #fff;
	}

	.dropdown-toggle::after {
		border: 0;
		margin: 0;
	}

	.nav-sidebar li a {
		position: relative;
		left: 0;
	}

	.nav-sidebar li a img {
		position: absolute;
		right: 25px;
		top: 24px;
	}

	.nav-sidebar li.open a img {
		-webkit-transform: rotate(90deg);
	    -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	    -o-transform: rotate(90deg);
	    transform: rotate(90deg);

	    -webkit-transition: 300ms ease all;
	    -moz-transition: 300ms ease all;
	    -o-transition: 300ms ease all;
	    transition: 300ms ease all;
	}

	.navbar-btn {
		padding: 0px;
		background-color: transparent;
		border: 0;
	}

	.navbar-btn:focus, .navbar-btn:hover, .btn-info:active:hover {
		background-color: transparent;
	}

	.logo-div {
		float: left;
		max-width: 51px;
		width: 100%;
		margin: 0px 15px 0px 0px;
	}

	.navbar-header {
		float: right;
	}

	.breadcrumb {
		display: none;
	}

	.news-left-section {
		padding: 0px 27px;
	}

	.main-heading {
		margin-bottom: 38px;
	}

	.right-bar {
		padding: 0px 27px;
	}

	.category-list ul li a {
		font-size: 20px;
		background-position: 30px 14px;
	}

	.news-text P {
		font-size: 18px;
		line-height: 25px;
	}

	.news-brief-div {
		padding: 30px 30px 15px;
	}

	.news-brief-div h3 {
		font-size: 21px;
	}

	.news-brief-div ul li {
		margin-bottom: 0;
	}

	.gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label {
		font-size: 18px !important;
	}

	.gform_footer input[type="submit"] {
		min-height: auto;
		line-height: normal !important;
		width: auto !important;
	}

	.right-bar {
		max-width: none;
	}

	.next-btns {
		padding: 58px 0px 45px;
	}

	.calender-text {
		max-width: 70%;
	}

	.spreker-left h4 {
		max-width: 111px;
	}

	.anme-btn {
		max-width: none;
	}

	.single-agenda-bar {
		margin-top: 30px;
	}

	.single-agenda-bar .calender-text {
		max-width: 62%;
	}

	.contact-inr ul li p span {
		margin-right: 6px;
	}

	.contact-inr ul li {
		padding: 35px 0px 34px;
	}

	.contact-inr ul li p span.address-text {
		max-width: 83%;
	}

	.contact-inr ul li p span.address-text01 {
		margin-left: 44px;
	}

	.map-div {
		margin-bottom: 30px;
	}

	.map-div iframe {
		height: 213px;
		margin-bottom: 30px;
	}

	.search-div-sm {
		display: none;
		margin-top: 15px;
		max-width: none;
	}

	.search-icon-div {
		float: right;
		margin: 15px 15px 0 0;
	}

	.tweets-div {
		display: none;
	}

	.white-div ul li img {
		height: 188px;
	}

	.prod_inr ul {
		text-align: center;
	}

	.prod_inr ul li {
		float: none;
		display: inline-block;
		margin: 0px 15px;
	}

	.prod_inr ul li:nth-child(3n+3) {
		margin-right: 15px;
	}

	.prod_inr {
		margin-bottom: 79px;
	}

	.prod_top .select-style {
		max-width: none;
		margin: 0px 0px 26px;
	}

	.search-inr ul li .calender-text {
		max-width: 100%;
	}

	.search-inr02 {
		margin-bottom: 28px;
	}

	.login-page {
		padding: 0;
	}

	.login-div {
		padding: 0;
	}

	.login-inr .btn {
		margin-right: 15px;
		margin-bottom: 15px;
	}

	.login-div .login-text {
		padding: 23px 21px;
		line-height: 24px;
	}

	.project-div .project-top .select-style {
		margin: 0px 0px 30px;
		max-width: none;
	}

	.project-top .checkbox-project li {
		margin: 0px 15px 15px 0px;
	}

	input[type="radio"] + label span {
		margin-right: 8px;
	}

	.news-left-inr ul li ul li {
		padding: 0px 0px 39px;
		min-height: auto;
		max-width: none;
	}

	.main-heading02 {
		margin-bottom: 0;
	}

	.news-left-inr ul li ul li:nth-child(2n) {
		max-width: none;
	}

	.next-btns02 ul li {
		padding: 0px;
	}

}

/* Extra small devices (portrait phones, less than 544px) */
@media (max-width: 543px) { 

	.vind-div-main {
		text-align: center;
	}

	.vind-div {
		float: none;
	}

	.vind-div ul li {
		max-width: 32%;
		text-align: center;
		min-height: 109px;
	}

	.vind-div ul li a {
		padding: 10px 6px 10px;
	}

	.vind-div ul li a img {
		width: 36px;
	}

	.vind-div ul li a p {
		display: block;
		font-size: 18px;
	}

	.nav-btns ul {
		text-align: center;
	}

	.nav-btns ul li {
		max-width: 142px;
	}

	.info-div {
		background-image: none;
	}

	.ftr-hding {
		font-size: 14px;
	}

	.address-div {
		float: none;
		max-width: none;
		margin: 0px 0px 23px;
		width: 100%;
	}

	.number-div {
		padding-left: 52px;
	}

	.ftr-social-links {
		padding-left: 0;
		text-align: left;
	}

	.ftr-newsletter {
		padding: 0px;
		max-width: none;
		float: none;
		background-image: none;
		min-height: 0;
		margin-bottom: 49px;
	}

	.search-div {
		float: none;
		max-width: none;
	}

	.white-div ul li {
		max-width: 100%;
		width: 100%;
	}

	.broker-div {
		max-width: 100%;
	}

	.home-agenda-div {
		max-width: 100%;
	}

	.home-news-img {
		max-width: none;
		width: 100%;
		margin-right: 0;
		margin-bottom: 15px;
	}

	.broker-div {
		width: 100%;
	}

	.home-news-text {
		max-width: 100%;
	}

	.news-text {
		overflow: inherit;
	}

	.news-img {
		float: none;
		margin-bottom: 30px;
	}

	.next-btns ul {
		display: block;
		margin: 0 0 10px 0;
	}

	a.citizn {
		display: inline-block;
	}

	.search-div-sm {
		float: left;
		margin-top: 15px;
	}

	.login-inr {
		padding: 35px 26px 29px;
	}

}

