

body {
	font-family:'Meta-Roman';
	overflow-x: hidden;
}

header {
	margin-bottom: 48px;
}

.wrap-1342 {
	max-width: 1342px;
	margin: 0 auto;
}

.header-inr {
	padding: 17px 0px 13px;
}

.logo-div img {
	max-width: 100px;
	margin-right: 26px;
}

.logo-div a {
	text-decoration: none;
}

.logo-div a span {
	display: inline-block;
	vertical-align: middle;
	font-size: 25px;
}

.logo-div a span p {
	color: #47292a;
	line-height: 27px;
}

.logo-div a span p.colr-blue {
	color: #00a6c0;
}

.vind-div-main {
	padding: 25px 0px 0px;
}

.vind-div {
	float: right;
}

.vind-div ul li {
	display: inline-block;
	background: #c2f4f9;
	width: 157px;
	vertical-align: middle;
	min-height: 67px;
}

.vind-div ul li a {
	padding: 6px 6px 5px;
	display: block;
	text-decoration: none;
	vertical-align: middle;
}

.vind-div ul li a img {
	width: 48px;
	display: inline-block;
	margin-right: 6px;
}

.vind-div ul li a p {
	display: inline-block;
	font-size: 20px;
	color: #00a6c0;
	vertical-align: middle;
}

.vind-div ul li a span {
	display: block;
}

.search-div {
	float: left;
	max-width: 364px;
	width: 100%;
	vertical-align: middle;
	border-radius: 5px;
	position: relative;
	border: 1px solid #ccc;
	overflow: hidden;
}

.search-div .form-control {
    color: #6f5d5e;
    height: 62px;
    max-width: 299px;
    border-radius: 0;
    border: 0;
    display: inline-block;
    vertical-align: middle;
    outline: none;
    font-size: 24px;
    padding: 15px 15px 15px 30px;
}

.search-div .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	color: #6f5d5e;
}
.search-div .form-control::-moz-placeholder { /* Firefox 19+ */
  	color: #6f5d5e;
}
.search-div .form-control:-ms-input-placeholder { /* IE 10+ */
  	color: #6f5d5e;
}
.search-div .form-control::-moz-placeholder { /* Firefox 18- */
  	color: #6f5d5e;
}

.search-icon {
	background-color: #00a6c0;
	background-image: url('../images/icon-search.svg');
	background-repeat: no-repeat;
	height: 64px;
	width: 64px;
	border: 0;
	cursor: pointer;
	background-size: 25px 25px;
	display: inline-block;
	vertical-align: middle;
	margin-left: -4px;
	position: absolute;
	top: 0px;
	right: 0px;
	background-position: 21px 18px;
}

.navigation {
	background: #00a6c0;
	border-radius: 0;
	-webkit-box-shadow: inset 0px 0px 31px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 0px 31px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0px 0px 31px 2px rgba(0,0,0,0.3);
}

.navbar {
	padding: 0;
	float: left;
	height: 50px;
}

.navbar-nav .nav-link {
	padding: 12px 37px 14px;
	font-size: 20px;
	color: #fff;
	position: relative;
	transition: all 0.7s ease 0s;
}

.navbar-nav .nav-item + .nav-item {
	margin-left: 5px;
}

.navbar-nav .nav-link::before {
	content: "";
	position: absolute;
	top: -4px;
	border-top: 4px solid transparent;
	left: 0;
	width: 100%;
	transition: all 0.7s ease 0s;
}

.nav-item:hover .nav-link::before, .nav-item .nav-link.active::before {
	border-color: #37cedd;
}

.nav-item:hover .nav-link, .nav-item .nav-link.active {
	color: #47292a;
}

ul.sub {
  position: absolute;
  z-index: 200;
  max-width: 202px;
  width: 100%;
  display:none;
}

.navbar-nav .nav-item:hover ul {
  display: block;
  background: #fff;
}

.sub li a {
	font-size: 17px;
	color: #47292a;
	text-decoration: none;
	padding: 16px 23px 12px;
	display: block;
	background: #c2f4f9;
	border-bottom: 2px solid #def9fc;
}

.sub li a:hover {
	color: #007790;
}

.nav-btns {
	float: right;
	max-width: 322px;
	width: 100%;
}

.nav-btns ul li {
	display: inline-block;
	max-width: 159px;
	width: 100%;
}

.nav-btns ul li .btn {
	border-radius: 0;
	display: block;
	padding: 8px 17px 8px;
	height: 50px;
	line-height: 34px;
}

.nav-btns ul li .btn img {
	width: 26px;
	margin-right: 12px;
}

.btn {
	padding: 14px 22px 14px;
	background: #f17d2d;
	color: #fff;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	border: 0;
}

.btn:focus, .btn:hover {
    color: #fff;
    background: #ef984a;
}

.btn-purpul {
	background: #47292a;
}

.btn-purpul:focus, .btn-purpul:hover {
	background: #854d53;
}

footer {
	padding: 42px 0px 60px;
	border-top: 1px solid #ebe8e8;
	margin: 90px 0px 0px;
}

.info-div {
	max-width: 644px;
	width: 100%;
	float: left;
	background: url('../images/gray-border.png') no-repeat top right;
}

.ftr-hding {
	font-size: 16px;
	color: #00a6c0;
	text-transform: uppercase;
	margin: 0px 0px 26px;
}

.address-div {
	max-width: 333px;
	float: left;
	width: 100%;
	margin-right: 40px;
}

.address-div p {
	display: inline-block;
	font-size: 18px;
	color: #6f5d5e;
	line-height: 22px;

}

.address-div p span {
	display: block;
}

.address-div img {
	max-width: 44px;
	display: inline-block;
	vertical-align: top;
	margin-right: 21px;
}

.number-div a {
	font-size: 18px;
	color: #00a6c0;
	text-decoration: underline;
}

.number-div p {
	font-size: 18px;
	color: #6f5d5e;
	line-height: 22px;
}

.ftr-newsletter {
	background: url('../images/gray-border.png') no-repeat top right;
	padding: 0px 58px;
	float: left;
	width: 100%;
	max-width: 425px;
	min-height: 148px;

}

.ftr-newsletter .search-div .form-control {
	height: 46px;
	font-size: 17px;
	padding: 15px 15px 15px 19px;
}

.ftr-newsletter .search-div .search-icon {
	background-color: #f17d2d;
	height: 48px;
	width: 51px;
	background-image: url('../images/svg-icons.svg');
	background-size: 27px 24px;
	background-position: 11px 11px;
}

.ftr-social-links {
	float: left;
	padding: 0px 0px 0px 58px;
}

.ftr-social-links ul li {
	display: inline-block;
	margin: 0px 3px;
}

.ftr-social-links ul li a img {
	width: 45px;
}

.news-left-section {
	float: left;
	max-width: 868px;
	width: 100%;
	margin: 0px 50px 0px 0px;
}

.news-left-section .field-content h2 {
	color: #6f5d5e;
	font-size: 22px;
	margin-bottom: 25px;
}

.news-left-section .field-content p {
	margin-bottom: 30px;
}

.news-left-section .field-content ul, .news-left-section .views-field ul {
	margin-bottom: 20px;
}

.news-left-section .field-content ul li, .news-left-section .views-field ul li {
	list-style: decimal;
    margin-left: 20px;
    font-size: 20px;
    color: #6f5d5e;
}

.right-bar {
	float: right;
	max-width: 424px;
	width: 100%;
}

.breadcrumb {
	padding: 0px;
	background: #fff;
}

.breadcrumb-item + .breadcrumb-item::before {
	content: ">";
}

.breadcrumb li {
	font-size: 15px;
	color: #6f5d5e;
}

.breadcrumb li a {
	color: #00a6c0;
	text-decoration: none;
}

.main-heading {
	font-size: 28px;
	color: #00a6c0;
	margin: 0px 0px 45px;
}

.news-left-inr ul li:first-child {
	padding-top: 0;
}

.news-left-inr ul li {
	background-image: url('../images/border-dashd.png');
	background-repeat: repeat-x;
	background-position: bottom left;
	padding: 45px 0px 54px;
}

.news-left-inr ul li a {
	color: #373a3c;
	text-decoration: none;
}

.news-img {
	max-width: 250px;
	width: 100%;
	float: left;
	margin-right: 22px;
}

.news-img img {
	max-width: 100%;
	max-height: 100%;
}

.news-text {
	overflow: hidden;
}


.news-text h3, .news-text h3 a {
	font-size: 20px;
	color: #6f5d5e;
}
.news-left-inr03 .news-text h3, 
.news-left-inr03 .news-text h3 a {
	font-size: 22px;
	color: #47292a;
	text-decoration: none;
}

.news-left-inr03 .news-text h3 a:hover {
	text-decoration: none;
}

.news-text P {
	font-size: 18px;
	color: #6f5d5e;
	margin: 0px 0px 31px;
	line-height: 28px;
}

p.post-date {
	font-size: 16px;
	color: #f17d2d;
	margin: 0px 0px 19px;
	line-height: normal;
	text-transform: uppercase;
}

.news-left-section .news-text a,
.news-left-section .project-text a {
	font-size: 20px;
	color: #00a6c0;
	text-decoration: underline;
}

.category-list {
	background: #f8f8f8;
	padding: 30px 0px 30px;
	margin-bottom: 30px;
}

.category-list ul li {
	display: block;
}

.category-list ul li a {
	font-size: 25px;
	color: #47292a;
	padding: 10px 15px 11px 55px;
	display: block;
	background: url('../images/blue-arrow.png') no-repeat 30px 18px;
	border-bottom: 1px solid #fff;
	text-decoration: none;
}

.category-list ul li:last-child a {
	border: 0;
}

.news-brief-div {
	background: #f2f2f2;
	padding: 39px 30px 50px;
}

.news-brief-div h3 {
	font-size: 25px;
	color: #00a6c0;
	margin: 0px 0px 31px;
}

.news-brief-div label {
	margin-bottom: 10px;
}

.news-brief-div .form-controls input[type="text"] {
	height: 46px;
    border-color: #dbdbdb;
    padding: 15px 18px !important;
    color: #6f5d5e;
    font-size: 18px;
    width: 100% !important;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}

.news-brief-div h4 {
	font-size: 20px;
	color: #6f5d5e;
	margin: 8px 0px 27px;
}

.news-brief-div h4 span {
	font-size: 14px;
}

.news-brief-div ul li {
	margin: 0px 0px 19px;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color:#6f5d5e;
    font-size: 20px;
    cursor: pointer;
}

input[type="radio"] + label span {
    display:inline-block;
    width:20px;
    height:20px;
    margin:-3px 21px 0 0;
    vertical-align:middle;
    background: url('../images/radio-img.png') 0 0 no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background: url('../images/radio-img.png') 0 -40px no-repeat;
}

.detail-inr img {
	margin: 0px 0px 50px;
	width: 100%;
}

.detail-inr p {
	margin: 0px 0px 40px;
	font-size: 20px;
	color: #6f5d5e;
	line-height: 30px;
}

.detail-inr a {
	font-size: 20px;
	color: #00a6c0;
	text-decoration: underline;
}

.next-btns {
	padding: 58px 0px 0px;
}

.next-btns ul {
	display: inline-block;
	margin-right: 26px;
}

.next-btns ul li {
	display: inline-block;
	background-image: none;
}

.next-btns ul li a.blue-btn {
	background: #c2f4f9;
	font-size: 15px;
	color: #6f5d5e;
	text-decoration: none;
	width: 92px;
	display: inline-block;
	padding: 10px 10px;
	border-radius: 4px;
	vertical-align: middle;
}

.next-btns ul li a img {
	width: auto;
	display: inline-block;
	margin: 0;
	margin-top: -2px;
}

.next-btns ul li:first-child a img {
	margin-right: 7px;
}

a.citizn {
	font-size: 15px;
}

.date-div {
	height: 69px;
	width: 69px;
	border: 2px solid #6f5d5e;
	padding: 10px 0px 0px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	margin-right: 28px;
}

.date-div p {
	font-size: 28px;
	line-height: 19px;
}

.date-div p span {
	font-size: 18px;
	margin-top: 10px;
	display: block;
}

.calender-text {
	display: inline-block;
	vertical-align: top;
	max-width: 767px;
}

.calender-text h3, .calender-text h3 a {
	font-size: 22px;
	color: #47292a;
	margin-bottom: 3px;
	text-decoration: none;
	text-transform: capitalize;
}

.calender-text h3 a:hover {
	text-decoration: none;
}

.calender-text p {
	font-size: 18px;
	color: #6f5d5e;
	line-height: 30px;
}

.brdr-blue {
	border-bottom-color: #00a6c0;
}

.brdr-purpul {
	border-bottom-color: #3f2828;
}

input[type="checkbox"] {
    display:none;
}
input[type="radio"] {
    display:none;
}

input[type="checkbox"] + label, input[type="checkbox"] + label a {
    color:#6f5d5e;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}
input[type="radio"] + label, input[type="radio"] + label a {
    color:#6f5d5e;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

input[type="checkbox"] + label a:hover {
	color:#6f5d5e;
}

input[type="radio"] + label a:hover {
	color:#6f5d5e;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:20px;
    height:20px;
    margin:-3px 16px 0 0;
    vertical-align:middle;
    background: url('../images/checkbox-img.png') 0 0 no-repeat;
    cursor:pointer;
}

input[type="radio"] + label span {
    display:inline-block;
    width:20px;
    height:20px;
    margin:-3px 16px 0 0;
    vertical-align:middle;
    background: url('../images/checkbox-img.png') 0 0 no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background: url('../images/checkbox-img.png') 0 -45px no-repeat;
}

input[type="radio"]:checked + label span {
    background: url('../images/checkbox-img.png') 0 -45px no-repeat;
}

.agenda-sidbar {
	margin-bottom: 32px;
}

.agenda-sidbar ul {
	margin-bottom: 59px;
}

.agenda-sidbar p {
	font-size: 20px;
	color: #6f5d5e;
	position: relative;
	padding-bottom: 17px;
	margin-bottom: 22px;
}

.agenda-sidbar p::after {
	content: "";
	position: absolute;
	border-bottom: 6px solid #f17d2d;
	bottom: 0;
	left: 0;
	width: 65px;
}

.agenda-sidbar p.border-color1::after {
	border-bottom-color: #00a6c0;
}

.agenda-sidbar p.border-color2::after {
	border-bottom-color: #3f2828;
}

.archief-btn {
	display: block;
}

.single-agenda-div {
	max-width: 814px;
}

.single-agenda-bar {
	padding: 39px 23px 50px;
}

.single-agenda-bar .calender-text {
	max-width: 277px;
}

.single-agenda-bar .news-left-inr ul li {
	padding: 25px 0px 33px;
}

.single-agenda-bar .news-left-inr ul li:first-child {
	padding-top: 0;
}

.single-agenda-bar .news-left-inr ul li:last-child {
	padding-bottom: 0;
	background: none;
}

.single-text p {
	font-size: 20px;
	color: #6f5d5e;
	line-height: 30px;
}

.spreker-div {
	padding: 29px 29px;
	background: #f8f8f8;
	margin: 23px 0px 43px;
}

.spreker-left {
	width: 100%;
}

.spreker-left h4 {
	font-size: 18px;
	font-weight: 700;
	color: #6f5d5e;
	max-width: 152px;
	display: inline-block;
	width: 100%;
}

.spreker-left span {
	font-size: 18px;
	font-weight: 700;
	color: #6f5d5e;
	display: inline-block;
	margin: 0px 14px 0px;
}

.spreker-left p {
	font-size: 18px;
	color: #6f5d5e;
	display: inline-block;
}

.spreker-left ul li {
	margin: 0px 0px 13px;
}

.spreker-left ul li a {
	color: #00a6c0;
	font-size: 18px;
	text-decoration: underline;
}

.spreker-right {
	padding: 0px 0px 0px 23px;
	border: 0;
	max-width: 375px;
}

.spreker-right h4 {
	max-width: 94px;
}

.main-heading01 {
	margin-bottom: 36px;
}

.news-left-inr ul li:last-child {
	background-image: none;
	padding-bottom: 0;
}

.category-list ul li.active a, .category-list ul li:hover a {
	color: #00a6c0;
}

.btn-select {
    position: relative;
    padding: 0;
    min-width: 236px;
    width: 100%;
    border-radius: 0;
    margin-bottom: 20px;
}

.btn-select .btn-select-value {
    padding: 6px 12px;
    display: block;
    position: absolute;
    left: 0;
    right: 34px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
}

.btn-select .btn-select-arrow {
    float: right;
    line-height: 20px;
    padding: 6px 10px;
    top: 0;
}

.btn-select ul {
    display: none;
    background-color: white;
    color: black;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: none !important;
    position: absolute;
    left: -1px;
    right: -1px;
    top: 33px;
    z-index: 999;
}

.btn-select ul li {
    padding: 3px 6px;
    text-align: left;
}

.btn-select ul li:hover {
    background-color: #f4f4f4;
}

.btn-select ul li.selected {
    color: white;
}

/* Default Start */
.btn-select.btn-default:hover, .btn-select.btn-default:active, .btn-select.btn-default.active {
    border-color: #ccc;
}

.btn-select.btn-default ul li.selected {
    background-color: #ccc;
}

.btn-select.btn-default ul, .btn-select.btn-default .btn-select-value {
    background-color: white;
    border: #ccc 1px solid;
}

.btn-select.btn-default:hover, .btn-select.btn-default.active {
    background-color: #e6e6e6;
}

.select-style {
    padding: 0;
    margin: 0px 40px 0px 0px;
    border: 1px solid #dbdbdb;
    width: 100%;
    height: 48px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;
    display: inline-block;
    max-width: 240px;
    vertical-align: middle;
    outline: none;
    border-radius: 5px;
}

.select-style select {
    font-size: 17px;
    color: #6f5d5e;
    padding: 0px 10px;
    width: 100%;
    height: 48px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

.select-style:after {
    top: 30%;
    right: 12px;
    border: solid transparent;
    content: "";
    background: url("../images/dropdown-arrow.png") no-repeat;
    height: 14px;
    width: 23px;
    position: absolute;
    pointer-events: none;
    z-index: 100;
}

/*.project-div ul li ul li {
	height: 550px;
}*/

.project-top {
	margin-bottom: 52px;
}

.project-top input[type="checkbox"] + label {
	font-size: 17px;
}

.project-top input[type="radio"] + label {
	font-size: 17px;
}

.project-top .checkbox-project {
	display: inline-block;
}

.project-top .checkbox-project li {
	padding: 0;
	display: inline-block;
	background-image: none;
	margin-right: 25px;
}

.project-top .checkbox-project li:last-child {
	margin: 0;
}

.project-data-div {
	/* max-width: 370px;
	float: left;
	width: 100%;
	margin-right: 108px; */
}

.project-data-div h3 {
	font-size: 18px;
	color: #f17d2d;
	margin: 0px 0px 28px;
	text-transform: uppercase;
}

.project-data-div h3 img {
	float: right;
}

.project-data-div h4, .project-data-div h4 a {
	font-size: 22px;
	color: #47292a;
	text-decoration: none;
}

.project-data-div h4 a:hover {
	text-decoration: none;
}

.project-data-div span {
	font-size: 16px;
	color: #00a6c0;
	margin: 0px 0px 23px;
	display: block;
}

.project-img {
	float: left;
	width: 100%;
	max-width: 167px;
	margin-right: 23px;
}

.project-text {
	overflow: hidden;
}

.project-text h4 {
	margin: 0px 0px 5px;
}

.project-text p {
	font-size: 18px;
	color: #6f5d5e;
	margin: 0px 0px 21px;
	line-height: 30px;
}

.project-div .project-text a {
	font-size: 20px;
	color: #00a6c0;
	line-height: 30px;
	text-decoration: underline;
}

.project-data-div01 {
	margin-right: 0;
}

.project-text01 {
	max-width: none;
}

.hding-date {
	font-size: 18px;
	color: #f17d2d;
	display: block;
	margin-bottom: 40px;
}

.main-heading02 {
	margin-bottom: 0;
}

.more-info-text h3 {
	font-size: 22px;
	color: #47292a;
	margin-bottom: 11px;
}

.more-info-text a {
	margin-bottom: 47px;
	display: inline-block;
	font-size: 20px;
}

.more-info-text ul {
	margin-bottom: 40px;
}

.more-info-text ul li {
	padding: 0px;
	margin: 0px;
	background: url('../images/orange-arrow.png') 0 8px no-repeat;
	font-size: 20px;
	color: #6f5d5e;
	padding: 0px 0px 0px 21px;
	line-height: 30px;
}

.more-info-text ul li:last-child {
	background: url('../images/orange-arrow.png') 0 8px no-repeat;
}

.more-info-text .files-link li {
	background: none;
	padding: 0;
	margin-bottom: 13px;
}

.more-info-text .files-link li:last-child {
	background: none;
}

.more-info-text .files-link li a {
	margin: 0;
}

.more-info-text .files-link li a img {
	width: auto;
	display: inline-block;
	margin: 0px 14px 0px 0px;
}

.next-btns02 {
	padding-top: 0px;
}

.next-btns02 ul li {
	padding-top: 0px;
}

.scnd-hding {
	font-size: 30px;
	color: #6f5d5e;
	margin-bottom: 33px;
}

.sidebar-logo-div {
	text-align: center;
	background: #f2f2f2;
	padding-bottom: 26px;
}

.sidebar-logo-div ul li {
	padding: 31px 0px 26px;
	border-bottom: 1px solid #d0d0d0;
	background: #fff;
}

.sidebar-logo-div ul li:last-child {
	padding-bottom: 105px;
	border-bottom: 0;
}

.sidebar-logo-div ul li a img {
	max-width: 195px;
}

.main-inner h1 {
	font-size: 28px;
	color: #00a6c0;
	text-align: center;
	margin-bottom: 50px;
}

.white-div {
	padding-bottom: 50px;
}

.white-div ul li {
	max-width: 324px;
	float: left;
	width: 100%;
	border-right: 3px solid #e3e0e0;
	padding: 0px 8px;
}

.white-div ul li:last-child {
	border: 0;
}

.white-div ul li img {
	width: 100%;
	margin-bottom: 40px;
}

.white-div ul li h3 {
	font-size: 20px;
	color: #47292a;
	margin-bottom: 20px;
}

.white-div ul li p {
	font-size: 18px;
	color: #6f5d5e;
	line-height: 28px;
	margin-bottom: 10px;
}

.broker-div {
	background-color: #f2f2f2;
	background-image: url('../images/broker-bg.png');
	background-position: top right;
	background-repeat: no-repeat;
	padding: 50px 45px;
	float: right;
	max-width: 313px;
	width: 100%;
	text-align: center;
}

.broker-div img {
	margin-bottom: 8px;
}

.broker-div h3 {
	color: #47292a;
	line-height: 28px;
	margin-bottom: 42px;
	font-size:20px;
}

.broker-div a img {
	height: 66px;
	width: 66px;
}

.gray-div {
	padding: 44px 0px 88px;
	background: #f8f8f8;
}

.home-news-section {
	float: left;
	max-width: 645px;
	width: 100%;
	margin-right: 21px;
}

.home-news-section ul li {
	display: block;
	margin-bottom: 47px;
}

.home-section-hding {
	font-size: 16px;
	color: #00a6c0;
	text-transform: uppercase;
	margin-bottom: 23px;
}

.home-news-inr h3 {
	color: #47292a;
	font-size: 22px;
	margin-bottom: 26px;
}

.home-news-inr h3 a {
	color: #47292a;
	font-size: 22px;
	/*margin-bottom: 26px;*/
}

.home-news-inr h3 a:hover {
	text-decoration: none;
}

.home-news-img {
	max-width: 182px;
	display: inline-block;
	margin-right: 11px;
	vertical-align: top
}

.home-news-img img {
	width: 100%;
}

.home-news-text {
	max-width: 448px;
	display: inline-block;
	overflow: hidden;
}

.home-news-text p {
	font-size: 18px;
	color: #6f5d5e;
	line-height: 24px;
}

.home-news-text a {
	font-size: 18px;
	color: #00a6c0;
	margin: 0px 0px 20px;
	text-decoration: underline;
	display: inline-block;
}

.home-news-text span {
	color: #f17d2d;
	font-size: 18px;
	display: block;
	background: #fff;
	/*max-width: 239px;*/
	width: auto;
	text-transform: uppercase;
	padding: 2px 12px;
}

.home-agenda-div {
	max-width: 317px;
	float: left;
	width: 100%;
}

.bar-home {
	padding: 28px 15px;
}

.bar-home .news-left-inr ul li {
	padding: 18px 0px 14px;
	margin: 0;
}

.bar-home .calender-text p {
	font-size: 18px;
	line-height: 22px;
}

.bar-home .date-div {
	margin-right: 15px;
}

.bar-home .calender-text {
	max-width: 199px;
}

.bar-home .news-left-inr .cel-link {
	display: block;
	text-align: right;
	margin: 22px 0px 0px;
}

.bar-home .news-left-inr a {
	color: #00a6c0;
	font-size: 18px;
	text-decoration: underline;
}

.news-left-section nav {
	text-align: center;
}

.pagination {
	margin: 50px 0px 0px;
}

a.page-link {
	font-size: 16px;
	color: #6f5d5e;
	border-color: #d3d7da;
	padding: 10px 15px;
	text-decoration: none;
}

.page-link:focus, .page-link:hover {
	color: #6f5d5e;
	background-color: #f8f8f8;
}

.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
	border-color: #f17d2d;
	background-color: #fff;
	color: #6f5d5e;
}

.news-left-inr03 ul li:last-child {
	background-image: url("../images/border-dashd.png");
	padding-bottom: 54px;
}

.news-brief-div textarea.form-control {
	height: 135px;
	resize: none;
}

.contact-div h2 {
	font-size: 30px;
	color: #6f5d5e;
	margin-bottom: 44px;
}

.news-left-inr ul li ul li {
    margin: 0px 0px 50px;
    background: none;
    float: left;
    width: 100%;
    max-width: 478px;
    padding: 0px 108px 54px 0px;
    background: url('../images/border-dashd.png');
    background-repeat: repeat-x;
    background-position: bottom left;
    min-height: 364px;
}

.news-left-inr ul li ul li:nth-child(2n) {
	padding-right: 0;
	max-width: 370px;
}

.news-left-inr ul li ul li:last-child {
	background: url('../images/border-dashd.png');
	background-repeat: repeat-x;
    background-position: bottom left;
}

.contact-inr ul li h3 {
	color: #6f5d5e;
	font-size: 22px;
	margin-bottom: 18px;
}

.contact-inr ul li p {
	color: #6f5d5e;
	font-size: 20px;
	margin-bottom: 9px;
}

.contact-inr ul li p span, .keten-side p span {
	height: 32px;
	width: 33px;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	margin-right: 19px;
	background: #f17d2d;
	vertical-align: middle;
	line-height: 28px;
}

.contact-inr ul li p a, .keten-side p a {
	color: #00a6c0;
	font-size: 20px;
	text-decoration: underline;
}

.contact-inr ul li p.text-small {
	font-size: 16px;
}

.contact-inr ul li p span.address-text {
	height: auto;
	width: auto;
	background: none;
	display: inline-block;
	text-align: left;
	margin: 0;
	max-width: 810px;
	border-radius: 0;
	width: 100%;
}

.contact-inr ul li p span.address-text01 {
	margin-left: 57px;
	margin-bottom: 10px;
}

.map-div {
	border: 6px solid #f5f5f5;
	margin-top: 60px;
}

.map-div iframe {
	width: 100%;
	height: 439px;
}

.news-peragraph {
	font-size: 22px;
	color: #6f5d5e;
	line-height: 34px;
	margin-bottom: 60px;
}

.news-post-hding {
	font-size: 26px;
	color: #00a6c0;
	margin-bottom: 22px;
}

.about-left-inr ul li {
	padding-bottom: 0;
	background: none;
}

.about-side-div {
	padding: 85px 50px 102px;
	background-color: #f2f2f2;
	text-align: center;
	background-image: url('../images/about-sidebar-bg.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 70px 0px 69px;
}

.about-side-div img {
	width: 61px;
	margin-bottom: 17px;
}

.about-side-div p {
	font-size: 28px;
	color: #47292a;
}

.about-side-img img {
	width: 100%;
}
.date-div.kncn {
	border-bottom: 6px solid #f17d2d;
}

.date-div.ketens {
	border-bottom: 6px solid #00a6c0;
}

.date-div.extern {
	border-bottom: 6px solid #3f2828;
}

/*.date-div.knowledgebrokers {
	border-bottom: 6px solid #f17d2d;
}*/

.anme-btn {
	max-width: 285px;
	display: block;
	margin-bottom: 49px;
}

.program-div {
	margin-bottom: 48px;
	line-height: 30px;
}

.program-div h2 {
	font-size: 30px;
	color: #00a6c0;
	margin-bottom: 18px;
}

.program-div h5 {
	font-size: 20px;
	color: #6f5d5e;
	margin-bottom: 48px;
}

.program-div p {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    color: #f17d2d;
}

.program-div strong {
	display: inline-block;
	color: #6f5d5e;
	font-size: 22px;
    font-weight: 700;
}

.program-div h6 strong {
	font-size: 20px;
    color: #6f5d5e;
    line-height: 30px;
    margin-bottom: 10px;
}

.program-div h3 {
	font-size: 22px;
	color: #00a6c0;
	margin-bottom: 6px;
}

p.bold-text {
	font-size: 22px;
	font-weight: 700;
}

p.bold-text span {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 400;
	color: #f17d2d;
}

.program-div ul {
	margin-bottom: 48px;
}

.program-div ul li {
	list-style: decimal;
	margin-left: 20px;
	font-size: 20px;
	color: #6f5d5e;
}

.quality-div span {
	margin: 19px 0px 23px;
}

.quality-main ul li ul li:last-child {
	padding-bottom: 54px;
}

.quality-rightbar ul li .nav .nav-item {
	list-style-type: decimal !important;
}

.quality-rightbar ul li .nav .nav-item .nav-link {
	color: #47292a;
	font-size: 20px;
	background: none;
	padding: 10px 15px 11px 55px !important;
}

/***** Contact Form *****/

.screen-reader-response {
	display: none !important;
}

.news-brief-div .wpcf7-not-valid-tip {
	color: red;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
	border: 2px solid red;
    width: 100%;
    margin: 2em 0em 0em;
    padding: 1em 1em;
}

.wpcf7-response-output.wpcf7-mail-sent-ng {
	border: 2px solid red;
    width: 100%;
    margin: 2em 0em 0em;
    padding: 1em 1em;
}

.loading {
    position: fixed;
    background-color: white;
    top: 0;
    bottom: 0;
    right: 0px;
    left: 0px;
    z-index: 1000;
    opacity: 0.7;
    display: none;
}

.loading > img {
    margin: 0;
    opacity: 1;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
}
.no-post {
	text-align: center;
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
}

.about_text {
	margin-bottom: 48px;
}

.gfield_label {
	display: none !important;
}

.gform_wrapper .gfield_checkbox li label input[type="radio"] {
	display: none !important;
}

.gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label {
	color:#6f5d5e;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.gform_footer input[type="submit"] {
	padding: 14px 22px 14px;
	background: #f17d2d;
	color: #fff;
	font-size: 20px !important;
	text-align: center;
	text-decoration: none;
	border: 0;
	border:1px solid #f17d2d;
	border-radius: 4px;
}

.attachment img {
	width: 100%;
	max-width: 30px;
	margin: 20px 10px 20px 0px !important;

}

.ginput_container input[type=checkbox   ] {
	display: none !important;
}

.ginput_container input[type=checkbox   ]:not(old) {
	width   : 28px;
	margin  : 0;
	padding : 0;
	opacity : 0;
}

.ginput_container input[type=checkbox   ]:not(old) + label {
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('../images/checkbox-img.png') 0 -0px no-repeat;
  line-height  : 24px;
  font-size: 20px;
  color: #6f5d5e;
}

.ginput_container input[type=checkbox]:not(old):checked + label {
  background-position : 0 -45px;
}

.gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label {
	font-size: 20px !important;
	color: #6f5d5e;
	margin: 0px !important;
	padding-left: 36px !important;
	line-height: normal !important;
	max-width: none !important;
}

.gform_wrapper .gfield_checkbox li, .gform_wrapper .gfield_radio li {
	margin: 0px 0px 18px !important;
}

.gchoice_select_all, .gform_wrapper ul.gfield_checkbox li input[type=checkbox]:checked+label, 
.gform_wrapper ul.gfield_radio li input[type=radio]:checked+label {
	font-weight: 400 !important;
}

.tweets-div {
	float: right;
	max-width: 313px;
	width: 100%;
}

.tweets-div-inr {
	background: #fff;
}

.nav-tabs {
	border-bottom: 3px solid #e3e8eb;
}

.nav-tabs .nav-link {
	border: 0;
	padding: 24px 17px 12px;
	position: relative;
	color: #666;
}

.nav-tabs .nav-link.active::after, .nav-tabs .nav-item:hover .nav-link::after {
	content: "";
	border-bottom: 4px solid #159bed;
	position: absolute;
	bottom: -1px;
	left: 0;
	height: 4px;
	width: 100%;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover, .nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-item.open .nav-link:hover {
	color: #0f99ed;
}

.tweet-img {
	max-width: 53px;
	display: inline-block;
}

.tweet-img img {
	width: 100%;
}

.tweet-text {
	display: inline-block;
	overflow: hidden;
	padding-bottom: 15px;
	max-width: 225px;
	vertical-align: top;
}

.tweet-text h3 {
	font-size: 14px;
	margin-bottom: 3px;
	font-weight: 700;
}

.tweet-text h3 span {
	color: #a6b0ba;
}

.tweet-text p a {
	color: #0f99ed;
	text-decoration: none;
}

.zonmw-div {
	border: 2px solid #f3f5f7;
	border-radius: 8px;
	margin: 11px 0px 111px;
}

.zon-img {
	display: inline-block;
	max-width: 75px;
	vertical-align: middle;
}

.zon-text {
	display: inline-block;
	max-width: 143px;
	vertical-align: middle;
	padding: 10px 10px;
	border-left: 2px solid #f3f5f7;
}

.zon-text p {
	font-size: 14px;
}

.zon-text a {
	color: #9ba6b1;
	text-decoration: none;
}

.tweet-text ul {
	margin-bottom: 5px;
}

.tweet-text ul li {
	display: inline-block;
	margin: 0px 17px;
}

.tweet-text ul li:first-child {
	margin-left: 0;
}

.tweet-text ul li:last-child {
	margin-right: 0;
}

.nav-sidebar li a {
	font-size: 25px;
	color: #fff;
	padding: 14px 26px 16px;
	text-decoration: none;
	display: block;
	border-bottom: 1px solid #00cedd;
}

.navbar-header01 {
	display: none;
}

.tweet-container {
	margin: 15px 0px;
}

.tweet-text h3 a {
	font-size: 14px;
    margin-bottom: 3px;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
}

.tweet-text h3 a:hover {
	text-decoration: none;
	color: inherit;
}

footer.home-footer {
	margin: 0px !important;
	border:0px !important;
}

p.post-date a {
	font-size: 16px;
    color: #f17d2d;
    margin: 0px 0px 19px;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

p.post-date a:hover {
	text-decoration: none;
	color: inherit;
}

.white-div ul li h3 a, .white-div ul li h3 a:hover {
	text-decoration: none;
	color: inherit;
}


/****** Producten ******/

.prod_inr {
	float: left;
	width: 100%;
}

.prod_inr ul {
	float: left;
	width: 100%;
}

.prod_inr ul li {
	background-image: none;
	display: inline-block;
	float: left;
	max-width: 228px;
	width: 100%;
	padding: 0px 0px 30px;
	margin-right: 70px;
	text-align: center;
}

.prod_inr ul li:nth-child(3n+3) {
	margin-right: 0px;
}

.prod_inr .prod_div h4, .prod_inr .prod_div h4 a {
	color: #6f5d5e;
	font-size: 20px;
	margin: 0px 0px 22px;
	padding: 0px 0px;
}

.project-text02 {
	width: 226px;
	height: 306px;
	float: left;
	margin-bottom: 32px;
}

.prod_inr .project-text img {
	max-width: 100%;
	max-height: 100%;
} 

.prod_inr ul li .download_btn {
	color: #fff;
}

.site-content
{
	padding: 0px 0px !important;
}

/***** Login *****/

.login-div {
 background-image: none;
 float: left;
 max-width: 510px;
 padding: 50px 0px 0px;
 width: 100%;
 text-align: left;
}

.login-div h3 {
 color: #00a6c0;
 font-size: 30px;
 margin: 0px 0px 30px;
 padding: 0px 0px;
}

.login-inr {
 float: left;
 padding: 0px 45px 69px;
 width: 100%;
}

.login-inr .form-control {
 margin-bottom: 14px;
}

.login-inr .form-control02 {
 margin-bottom: 29px;
}

.login-inr .btn {
 height: 48px;
 padding: 0px 36px;
 line-height: 2.5;
 margin-right: 35px;
 vertical-align: middle;
}

.login-inr .forget-paw {
 color: #00a6c0;
 font-size: 16px;
 padding: 0px 0px;
 display: inline-block;
 vertical-align: middle;
 text-decoration: underline;
}

.login-div .login-text {
 background-color: #00a6c0;
 color: #fff;
 float: left;
 font-size: 18px;
 padding: 29px 66px 28px;
 width: 100%;
}

/****** Search Result Page ******/

.main-heading03 {
 margin-bottom: 27px;
}

.search-inr02 {
 margin-bottom: 75px;
}

.search-inr ul li {
 padding: 27px 0px 27px
}

.search-section p {
 color: #6f5d5e;
 font-size: 22px;
 margin-bottom: 57px;
 padding: 0px 0px;
}

.search-inr h2 {
 color: #6f5d5e;
 font-size: 22px;
 margin-bottom: 28px;
 padding: 0px 0px;
 font-weight: bold;
}

.search-inr .calender-text02 h3, .search-inr .calender-text02 h3 a {
 color: #00a6c0;
 font-size: 20px;
 text-decoration: underline;
 margin-bottom: 12px;
}

.search-inr .calender-text02 p {
 color: #6f5d5e;
 font-size: 20px;
 padding: 0px 0px;
 margin: 0px 0px;
}

 /***** Ketens Detail Page *****/

.keten-side {
 margin-bottom: 40px;
}

.keten-side h3 {
 color: #6f5d5e;
 font-size: 25px;
 margin-bottom: 28px;
 padding: 0px 0px;
}

.keten-side p {
 color: #6f5d5e;
 font-size: 20px;
 padding: 0px 0px;
 margin: 0px 0px 15px;
}

.keten-down {
 margin-bottom: 0px;
}

.keten-down p img {
 margin-right: 18px;
}

/***** Personal Information *****/

.person_info h3 {
 color: #6f5d5e;
 font-size: 22px;
 font-weight: bold;
 margin-bottom: 55px;
}

.member-div {
 max-width: 100%;
 margin-bottom: 27px;
 text-align: left;
}

.member-div h3 {
 color: #00a6c0;
 font-size: 30px;
 margin-bottom: 32px;
 font-weight: normal;
}

.member-div .form-control {
 margin-bottom: 14px;
}

.member-div .form-control02 {
 margin-bottom: 18px;
}

.member-div .btn {
 height: 48px;
 padding: 0px 22px;
 line-height: 2.5;
 margin-right: 35px;
}

.person-div {
 padding: 0px 0px;
 float: right;
 width: 100%;
 text-align: right;
}

.person-div ul li {
 padding: 0px 0px;
}

.single-featured-image-header {display:none;}

.white-div ul li a {
	color: #00a6c0;
	text-decoration: underline;
	font-size: 18px;
}

.elementor-widget-heading.elementor-widget-heading .elementor-heading-title {
	font-family: 'Meta-Roman' !important;
	font-size: 28px !important;
	color: #00a6c0;
	font-weight: 400;
}

.elementor-widget-text-editor {
	font-family: 'Meta-Roman';
}

.elementor-widget-accordion .elementor-accordion .elementor-tab-content p {
	font-family: 'Meta-Roman';
	font-size: 22px !important;
	color: #6f5d5e;
	line-height: 34px !important;
	margin-bottom: 50px;
    display: block;
}

.elementor-text-editor p {
	font-size: 22px !important;
	color: #6f5d5e;
	line-height: 34px !important;
}

.elementor-accordion {
	margin: 50px 0px 60px;
}

.elementor-accordion .elementor-accordion-item {
	border: 0;
}

.elementor-accordion .elementor-tab-title .elementor-accordion-icon.elementor-accordion-icon-left {
	position: absolute;
	right: 0;
}

.elementor-widget-accordion .elementor-accordion .elementor-tab-title {
	font-size: 20px;
	color: #6f5d5e;
	outline: none;
	padding: 10px 21px;
	background: #f8f8f8;
	margin-bottom: 6px;
	font-family: 'Meta-Roman';
}

.elementor-widget-accordion .elementor-accordion .elementor-tab-title.elementor-active {
	color: #6f5d5e;
}

.elementor-accordion .elementor-tab-content {
	border: 0;
}

.elementor-widget-icon-list .elementor-icon-list-item span {
	font-family: 'Meta-Roman';
	font-size: 20px !important;
	color: #6f5d5e !important;
}


